.head{
    background-color: #c5b984;
}

ul{
    border: 1px solid;
    padding: 10px;
}

li{
    color: red;
    font-weight: lighter;    
}
li:hover{
    background-color: rgba(98, 98, 156,0.5);
    color: hsl(240, 50%, 50%);
    font-weight: bolder;
}